@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #B7C4CF;
    --cor-secundaria: #EEE3CB;
    --cor-terciaria: #967b73;
    --cor-hover: #fff;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
    letter-spacing: 1px;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    transition: all 500ms ease;
    -webkit-font-smoothing: antialiased;
}

.cabecalho__menu__link:hover {
    color: white;
    cursor: pointer;
}

.Apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6% 15%;
    gap: 82px;
}

.image {
    width: 30%;
    height: 30%;
    object-fit: cover;
    border: 1px solid rgb(255, 255, 255);
    opacity: 0.75;
    border-radius: 2%;
}


.image2 {
    object-fit: cover;
    filter: grayscale(100%)
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.Titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__texto a{
    text-decoration:none;
    color: var(--cor-terciaria)
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 55%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.3125rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    border: 3px solid var(--cor-secundaria);
    background: linear-gradient(var(--cor-terciaria) 0 0) var(--p,0)/var(--p,0) no-repeat;
    transition: .3s,background-position 0s;
    padding: 3%
}


.apresentacao__links__link:hover {
    background-color: var(--cor-terciaria);
    padding: 3%;
    --p: 100%;
    color: var(--cor-hover);
}


.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.rodape {
    color:var(--cor-hover);
    background-color:var(--cor-terciaria);
    padding: 20px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}


@media (max-width: 1200px) {
    
    .cabecalho {
        padding: 10%;
    }
    
    .cabecalho__menu {
        justify-content: space-between;
        display: inline;
        margin: 0 auto;
    }

    .Apresentacao {
        flex-direction: column-reverse;
        padding: 5% 2%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}